.circle {
   width: 500px;
   height: 500px;
   background: black;
   text-align: center;
   margin: auto;
   -moz-border-radius: 250px;
   -webkit-border-radius: 250px;
   border-radius: 250px;
}

.inner-circle {
   width: 300px;
   height: 300px;
   background: black;
   margin: auto;
   -moz-border-radius: 150px;
   -webkit-border-radius: 150px;
   border-radius: 150px;
   box-shadow: 0 0 10vw -0.5vw darkblue;
}

.centering-triangle {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-top: 175px solid rebeccapurple;
  display: inline-block;
  margin-top: 100px;
}

.circle-center {
  margin-top: -135px;
  margin-left: -50px;
  width: 100px;
  color: white;
  box-shadow: 0 0 15vw 8.5vw rebeccapurple;
}

.circle:hover {
  animation: shake 0.5s;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
