<h2>Messages</h2>
<ul class="messages">
  <li *ngFor="let message of messages" (click)="onSelect(message)">
    <span class="badge">{{message.id}}</span> {{message.text}}
  </li>
</ul>

<div *ngIf="selectedMessage">
  <h2>Message Details</h2>
  <h2>{{selectedMessage.name | uppercase}}</h2>
  <div><span>id: </span>{{selectedMessage.id}}</div>
  <div>
    <label>Text:
      <input [(ngModel)]="selectedMessage.text" placeholder="text" />
    </label>
    <label>Weight:
      <input [(ngModel)]="selectedMessage.weight" placeholder="1" />
    </label>
  </div>
</div>